baseURL = "https://KatyaZubareva.github.io/web-portfolio/"
languageCode = "en-us"
title = "Portfolio"
theme = "PaperMod"

[menu]
  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 1

  [[menu.main]]
    name = "Projects"
    url = "/projects/"
    weight = 2

[pagination]
  pagerSize = 10

[params]
  author = "Катя Зубарева"
